node-red-data/flows.json
[
    {
        "id": "e6bc8fcb02c15518",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de2918815c34c8e3",
        "type": "redis-config",
        "name": "Local",
        "options": "redis://:YzRAdGgkFg@redis:6379",
        "cluster": false,
        "optionsType": "str"
    },
    {
        "id": "b02b9e6ed72d8945",
        "type": "redis-instance",
        "z": "e6bc8fcb02c15518",
        "server": "de2918815c34c8e3",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "x": 90,
        "y": 40,
        "wires": []
    },
    {
        "id": "b87a3524493a2d08",
        "type": "redis-command",
        "z": "e6bc8fcb02c15518",
        "server": "de2918815c34c8e3",
        "command": "SET",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "f3f592ac083f807d"
            ]
        ]
    },
    {
        "id": "e1826b8bac6ebcbb",
        "type": "function",
        "z": "e6bc8fcb02c15518",
        "name": "",
        "func": "\nlet topic = \"test\";\nmsg.payload = [topic, \"qq3\"];\nmsg.topic = \"\";\n\nnode.status({fill: \"green\", shape: \"ring\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "b87a3524493a2d08"
            ]
        ]
    },
    {
        "id": "ed906b68686cc0ad",
        "type": "inject",
        "z": "e6bc8fcb02c15518",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "e1826b8bac6ebcbb"
            ]
        ]
    },
    {
        "id": "f3f592ac083f807d",
        "type": "debug",
        "z": "e6bc8fcb02c15518",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "f63c211f7cf81945",
        "type": "http in",
        "z": "e6bc8fcb02c15518",
        "name": "",
        "url": "/apites",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "ec812f2a4ebddc9d"
            ]
        ]
    },
    {
        "id": "b2e2f901b401f316",
        "type": "http response",
        "z": "e6bc8fcb02c15518",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "b76c53178f138eb7",
        "type": "debug",
        "z": "e6bc8fcb02c15518",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "ec812f2a4ebddc9d",
        "type": "function",
        "z": "e6bc8fcb02c15518",
        "name": "",
        "func": "\nmsg.payload = [];\nmsg.topic = \"test\";\n\nnode.status({fill: \"green\", shape: \"ring\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "1165f1e6e1b45e59"
            ]
        ]
    },
    {
        "id": "1165f1e6e1b45e59",
        "type": "redis-command",
        "z": "e6bc8fcb02c15518",
        "server": "de2918815c34c8e3",
        "command": "GET",
        "name": "",
        "topic": "",
        "params": "[]",
        "paramsType": "json",
        "payloadType": "json",
        "block": false,
        "x": 560,
        "y": 360,
        "wires": [
            [
                "b76c53178f138eb7",
                "b2e2f901b401f316"
            ]
        ]
    }
]